- if @telegram_messages.present?
  %table.table.list
    %thead.thead-dark
      %th= '#'
      %th= t('telegram_messages.chat_id')
      %th= t('telegram_messages.send_at')
      %th{ colspan: 2 }= t('telegram_messages.sent_at')
    %tbody.bg-white
      - @telegram_messages.each_with_index do |telegram_message, index|
        %tr
          %td= index + 1
          %td= telegram_message.chat_id
          %td= telegram_message.send_at
          %td= telegram_message.sent_at
          %td= link_to t('telegram_messages.show'), telegram_messages_manage_path(telegram_message.id),
                                                    class: 'btn btn-primary'
- else
  = t('telegram_messages.list_is_empty')

= link_to t('telegram_messages.new'), new_telegram_messages_manage_path, class: 'btn btn-dark'
