.row.h-100
  .col-lg-6.my-auto.mx-auto.bg-white.preview
    %h2 Create New Telegram Message

    = simple_form_for @telegram_message, url: telegram_messages_manage_index_path do |f|
      .form-inputs
        = f.input :chat_id, label: t('telegram_messages.chat_id')
        = f.input :send_at, label: t('telegram_messages.send_at')
        = f.input :body
      .form-actions
        = f.button :submit, t('telegram_messages.create'), class: 'btn btn-primary'
