.row.h-100
  .col-lg-6.my-auto.mx-auto.bg-white.preview
    .row
      .col-sm-3.font-weight-bold= t('telegram_messages.chat_id') + ":"
      .col-sm-6= @telegram_message.chat_id
    .row
      .col-sm-3.font-weight-bold= t('telegram_messages.send_at') + ":"
      .col-sm-6= @telegram_message.send_at
    .row
      .col-sm-3.font-weight-bold= t('telegram_messages.sent_at') + ":"
      .col-sm-6= @telegram_message.sent_at
    .row
      .col-sm-3.font-weight-bold= t('telegram_messages.body') + ":"
      .col-sm-9= @telegram_message.body
    .row.mt-5
      .col-lg-6
        = link_to t('nav.back'), telegram_messages_manage_index_path, class: "btn btn-dark"
